@use '../abstracts/abstracts' as abs;

 .uses {
    display: flex;
    color: white;
    gap: 40px;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 120px;
      font-size: 15px;

      .aside-img {
        padding:10px;
        background-color: abs.$padding-color;
        border-radius: 10px;
        width: 20px;
        
     
      }
    }
  }